
  .folder{
    word-wrap:break-word;
    background-color:#343d46;
    border-radius: 5px !important;
    //height:57px;
    margin-top:2px;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
    &:hover{
      background-color: #485058;
    }
    span{
      position:relative;
      top:20%;
    }
    a{
      color:#fff;
    }
  }

//Centers the folder and file name in li elements
.item-vertical-center{
  display: flex; align-items: center;
}

//Aligns folder and file li buttons to right
.itemButtons{
  text-align: right;
}

@media (max-width: 500px) {
    .folderIcon { display:none; }
    .fileIcon {display:none;}
}

h5{
  padding:0px;
  margin-top:0px;
}

.outerAnalyticsBox{
  padding:10px;
}
.innerAnalyticsBox{
  background-color:#f9f9f9;
  border-radius: 5px;
  padding:5px;
  border: 1px solid #343d46;
}

.analyticIcon{
  font-size: 30px;
  color:#f37735;
}

.folderIcon{
  font-size:14px;
  color:white;
  margin-right:5px;
}

.fileIcon{
  font-size:14px;
  margin-right:5px;
}

#searchByName{
  width:25%;
  margin-top:10px;
  margin-bottom:10px;
  -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.userModal{
  width:100% !important;
}

.folder_check{
  height:20px;
  width:20px;
}

#searchByName:focus{
  width:100%;
}

.select_user{
  padding:25px;
  border-radius:5px;
}

.directorylist{
  display:none;
}

.btn-warning{
  background-color: #F0AD4E;
  border-color: #EEA236;
}

.btn-warning:hover{
  background-color: #EC971F;
  border-color: #D58512;
}

.directory_check{
  margin-top:20px;
  padding:25px;
  border-radius:5px;
}

  .file{
    word-wrap:break-word;
    background-color:#f9f9f9;
    border-radius:5px;
    //height:57px;
    margin-top:2px;
    border-color: #C2C4C7;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
    &:hover{
      background-color: #E0E0E0;
    }
    span{
      position:relative;
      top:20%;
    }
  }

  .glyphicon {                                                                  // Glyphiconien koko ja alleviivauksen poisto
    font-size: 20px;
    text-decoration: none;
    margin:5px;
    color:#f37735;
  }

  .newItem{
    font-size: 20px;
    text-decoration: none;
    margin:5px;
    color:#449D44;
  }

  .privileges_success{
    top:-10%;
    color:#00C851;
    margin-right:10px;
    display:none;
  }

  .privileges_error{
    top:-10%;
    color:#ff4444;
    margin-right:10px;
    display:none;
  }

  .form-control {                                                               //Pienennetään input kentän kokoa
    width: 50%;
  }

// Painikkeiden välit
  .btn {                                                                        //Lisätään painikkeille pienet völit
    //margin-left: 10px;
    //border-radius: 3px;

  }

.itemBtn{
  line-height:0.5 !important;
}

  .cancel, .confirm {                                                           //Cancel ja Confirm painikkeet oletuksena pois näkyvistä
    display:none;
  }

  .modal.custom .modal-dialog {
      width:20%;
      position:fixed;
      bottom:0;
      right:0;
      margin:0;
  }

  .rename-notification{                                                         //Sijoitetaan uudelleennimeämisen ilmoitukset oikeaan alakulmaan
    bottom:0;
    right:0;
    position:fixed;
    height:auto;
    display:none;
  }

  #rename_notification_success{                                                 //Pienennetään onnistuneen nimenmuutoksen ilmoitus 15%
    width:15%;
  }

  .fileNameInput{                                                             //Oletuksena tiedoston uudelleennimeämiseen tarkoitettu tekstikenttä pidetään piilossa.
    display:none;
  }

  .navigation{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:5px;
    margin-right:5px;
  }

  .header-tron{
    background-color:#343d46;
    width:auto;
    h1, h2{
      color:	#f37735;
      margin-bottom:30px;
    }
    padding-top:10px;
    padding-bottom: 10px;
  }

  .loader {                                                                     //Preloaderin tyylittely
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

  .activityLoader {
    display:none;                                                                     //Preloaderin tyylittely
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
  }

.select{
  width:20%;
}

.userControlTable {
    border-collapse: collapse;
    width: 100%;
}

.pseudolink{
  color:#3097D1;
}

.pseudolink:hover{
  color:#216A8C;
  cursor:pointer;
}

.userControlTable th, .userControlTable td {
    text-align: left;
    padding: 12px;
}

.userControlTable tr {
    border-bottom: 1px solid #ddd;
}

.userControlTable tr.header, .userControlTable tr:hover {
    background-color: #f1f1f1;
}

.alert-success{
  z-index: 100;
}

.alert-danger{
  z-index: 100;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#upload_message{                                                                //Oletuksena tiedoston lähetyksestö ilmoittava upload message elementti pidetään piilossa.
  display:none;
}

#notificationBar{
  visibility: hidden;
  width:250px;
  margin-left:-125px;
  background-color:#2BBBAD;
  color:#fff;
  text-align:center;
  border-radius:8px;
  padding:16px;
  position:fixed;
  z-index:9999;
  left:50%;
  bottom:30px;
}
#notificationBar.show{
  visibility:visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein{
  from {bottom:0; opacity:0;}
  to{bottom:30px; opacity:1}
}
@-webkit-keyframes fadeout{
  from {bottom:30px; opacity:1}
  to {bottom:0; opacity:0;}
}
@keyframes fadeout {
  from {bottom:30px; opacity:1;}
  to {bottom:0; opacity:0;}
}

.dropzone{
  border:2px dashed #0087F7;
  border-radius: 5px;
  background:white;
}
