//Folder styling in directory listing ul
.folder{
    word-wrap:break-word;
    background-color:#343d46;
    border-radius: 5px !important;
    margin-top:2px;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    &:hover{
      background-color: #485058;
    }
    span{
      position:relative;
      top:20%;
    }
    a{
      color:#fff;
    }
    .folderIcon{
      font-size:14px;
      color:white;
      margin-right:5px;
    }
  }

//File styling in file listing ul
  .file{
    word-wrap:break-word;
    background-color:#f9f9f9;
    border-radius:5px;
    margin-top:2px;
    border-color: #C2C4C7;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    &:hover{
      background-color: #E0E0E0;
    }
    span{
      position:relative;
      top:20%;
    }
    .fileIcon{
      font-size:14px;
      margin-right:5px;
    }
  }

//Centers the folder and file name in li elements
.item-vertical-center{
  display: flex; align-items: center;
}

//Aligns folder and file li buttons to right
.itemButtons{
  text-align: right;
}

@media (max-width: 500px) {
    .folderIcon { display:none; }
    .fileIcon {display:none;}
}

h5{
  padding:0px;
  margin-top:0px;
}

//Analytics row in settings page
.outerAnalyticsBox{
  padding:10px;
}

.innerAnalyticsBox{
  background-color:#f9f9f9;
  border-radius: 5px;
  padding:5px;
  border: 1px solid #343d46;
}

//Analytics icon size (User, folder, file)
.analyticIcon{
  font-size: 30px;
  color:#f37735;
}

//Settings page search user by name
#searchByName{
  width:25%;
  margin-top:10px;
  margin-bottom:10px;
  -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

//UserControlModal.blade.php
.userModal{
  width:100% !important;
}

//Checkbox for user directory privileges in userControlModal
.folder_check{
  height:20px;
  width:20px;
}

//User search input in settings page
#searchByName:focus{
  width:100%;
}

.btn-warning{
  background-color: #F0AD4E;
  border-color: #EEA236;
}

.btn-warning:hover{
  background-color: #EC971F;
  border-color: #D58512;
}

//Info and Home button styling in index and show pages
  .infoBtn {
    font-size: 20px;
    text-decoration: none;
    margin:5px;
    color:#f37735;
  }

//Icon in both index and show pages, indicates new file or folder upload.
  .newItem{
    font-size: 20px;
    text-decoration: none;
    margin:5px;
    color:#449D44;
  }

//Scale down form inputs
  .form-control {
    width: 50%;
  }

//The button height in directory and file listings are controlled with this
.itemBtn{
  line-height:0.5 !important;
}

//By default hide cancel and confirm buttons that are needed in file renaming
  .cancel, .confirm {
    display:none;
  }

  .modal.custom .modal-dialog {
      width:20%;
      position:fixed;
      bottom:0;
      right:0;
      margin:0;
  }

//Placing the rename notification element
  .rename-notification{
    bottom:0;
    right:0;
    position:fixed;
    height:auto;
    display:none;
  }

//Renaming notifiation, decrease width to 15%, otherwise it will take too much space
  #rename_notification_success{
    width:15%;
  }

//File renaming input. By default its hidden
  .fileNameInput{
    display:none;
  }

  .navigation{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:5px;
    margin-right:5px;
  }

//The header text [Filebrowser]
  .header-tron{
    background-color:#343d46;
    width:auto;
    h1, h2{
      color:	#f37735;
      margin-bottom:30px;
    }
    padding-top:10px;
    padding-bottom: 10px;
  }

//Renaming reloader
  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

//The preloader that will be shown in activity page 1.0s before showing more activities
  .activityLoader {
    display:none;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
  }

.select{
  width:20%;
}

//modal.blade.php [Create new directory], centers the input text and placeholder
#directoryName{
    text-align: center;
}

.userControlTable {
    border-collapse: collapse;
    width: 100%;
}

//Styles span text to look like links in settings page (user listing)
.pseudolink{
  color:#3097D1;
  &:hover{
    color:#216A8C;
    cursor:pointer;
  }
}

//User folder listing in user modal after selecting user
.userControlTable th, .userControlTable td {
    text-align: left;
    padding: 12px;
}

.userControlTable tr {
    border-bottom: 1px solid #ddd;
}

.userControlTable tr.header, .userControlTable tr:hover {
    background-color: #f1f1f1;
}

//Succes and error alerts (Both z-index brought) forward
.alert-success, .alert-danger{
  z-index: 100;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

//File upload message
#upload_message{
  display:none;
}

//Notification bar that will be shown every time user makes changes in system
#notificationBar{
  visibility: hidden;
  width:250px;
  margin-left:-125px;
  background-color:#2BBBAD;
  color:#fff;
  text-align:center;
  border-radius:8px;
  padding:16px;
  position:fixed;
  z-index:9999;
  left:50%;
  bottom:30px;
}
#notificationBar.show{
  visibility:visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein{
  from {bottom:0; opacity:0;}
  to{bottom:30px; opacity:1}
}
@-webkit-keyframes fadeout{
  from {bottom:30px; opacity:1}
  to {bottom:0; opacity:0;}
}
@keyframes fadeout {
  from {bottom:30px; opacity:1;}
  to {bottom:0; opacity:0;}
}

//Drag and drop file upload
.dropzone{
  border:2px dashed #0087F7;
  border-radius: 5px;
  background:white;
}
